.border{
	border-style: dotted;
	border-width: 1px;
}

div.header{
	padding: 10px;
}

div.events{
	padding: 10px;
	text-align: center;
}

/* CSS for the lightbox */
div.lightbox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	text-align: right;
}

div.content{
	height: 500px;
	width: 650px;
	background-color: white;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	padding: 10px;
}

a.lightbox-close-trigger{
	padding-right: 20px;
}
